/* ----------------------------- */
/* Global Styles */
/* ----------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-clr: white;
  --secondary-text-clr: black;
}

/* ----------------------------- */
/* Layout Styles */
/* ----------------------------- */
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 18% 1fr;
  grid-template-rows: 180px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}
header {
  background-color: red;
  grid-area: header;
}
.side-bar {
  background-color: green;
  grid-area: sidebar;
}
main {
  background-color: aqua;
  grid-area: main;
}

/* ----------------------------- */
/* Side bar Styles */
/* ----------------------------- */
.side-bar {
  padding: 1rem;
}
ul {
  margin-top: 3rem;
  padding: 11px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
img {
  height: auto;
  width: 22px;
  color: var(--primary-text-clr);
}

h1 {
  display: flex;
  align-items: center;
  color: var(--primary-text-clr);
  gap: 0.7rem;
}
li {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 1.2rem;
  color: white;
}
li:nth-child(7) {
  margin-top: 3rem;
}
