/* ----------------------------- */
/* Global Styles */
/* ----------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-clr: white;
  --secondary-text-clr: black;
}

/* ----------------------------- */
/* Layout Styles */
/* ----------------------------- */
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}
header {
  background-color: red;
  grid-area: header;
}
.side-bar {
  background-color: green;
  grid-area: sidebar;
}
main {
  background-color: aqua;
  grid-area: main;
}
